
<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>DOLLAR FUCK YOU CLUB</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
</head>
<body>
    <nav class="grey darken-4">
        <div class='nav-wrapper'>
            <a href="/" class="center-align brand-logo center">
                <h4 class='white-text thin hide-on-med-and-down'>DOLLAR FUCK YOU CLUB DOT COM</h4>
                <h4 class='white-text th  in hide-on-large-only'>$ F U C</h4>
            </a>
        </div>
    </nav>
    <br />
    <div class='container'>
        <div class='row valign-wrapper'>
            <div class='col s4 l4 valign'>
                <h2 class="center hide-on-med-and-down">
                    <i class="fa fa-money"></i><br>
                    For one<br>dollar
                </h2>
                <h5 class="center hide-on-large-only">
                    <i class="fa fa-money"></i><br>
                    For one<br>dollar
                </h5>
            </div>
            <div class='col s4 l4 valign'>
                <h2 class="center hide-on-med-and-down">
                    <i class="fa fa-phone"></i><br>
                    We call someone
                </h2>
                <h5 class="center hide-on-large-only">
                    <i class="fa fa-phone"></i><br>
                    We call someone
                </h5>
            </div>
            <div class='col s4 l4 valign'>
                <h2 class="center hide-on-med-and-down">
                    <i class="fa fa-meh-o"></i><br>
                    And tell them "<strong>Fuck You</strong>"
                </h2>
                <h5 class="center hide-on-large-only">
                    <i class="fa fa-meh-o"></i><br>
                    And tell them "<strong>Fuck You</strong>"
                </h5>
            </div>
        </div>

        <!-- FORM RESPONSE -->

        <!-- FORM -->
        <div class="form-container active">
            <form class="col s12" action='/' method="post" >
                <div class='row'>
                    <div class="input-field offset-s4">
                        <i class="mdi-communication-phone prefix"></i>
                        <input
                            style='zoom: 200%'
                            onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                            autocomplete="off"
                            id="id_phone_number"
                            maxlength="10"
                            name="phone_number"
                            tabindex="1"
                            type="tel"
                            placeholder='Target Phone Number'
                        >
                    </div>
                    <h5 class="center-align" style="margin: inherit;">
                    <input type="checkbox" name="classy"" id="classy">
                    <label for="classy" class=""><strong>Limited Time Offer:</strong> Tell them a Shakespearean insult for $2 instead</label>
                    </h5>
                    <h5 class="center-align">
                        <script
                            src="https://checkout.stripe.com/checkout.js"
                            class="stripe-button"
                            data-label="Call Now"
                            data-panel-label="Call Now"
                            data-key="pk_test_KbvskszE72p62SYcMyM1abXx"
                            data-name="Send Insult"
                            data-description="because fuck you"
                            data-amount="200"
                            data-bitcoin='True'>
                        </script>
                    </h5>
                </div>
            </form>
        </div>
    </div>
    <!-- FOOTER -->
    <footer class="page-footer grey darken-4">
        <div class="container">
            <div class="row">
                <div class="col l12 s12">
                    <h5 class="white-text center-align ">TERMS</h5>
                    <p class="flow-text grey-text darken-4 center-align text-lighten-4">
                    <!-- THE SMALL PRINT -->
                    Dollar Fuck You Club currently only supports United States phones.<br>
                    Zero credit card information is stored on our servers.<br>
                    We do not speak with anyone under the age of 18.<br>
                    Consent needed before delivering the Fuck You.<br>
                    If they don't pick up, your money is squandered.<br>
                    We attempt to deliver the 'Fuck You' once.<br>
                    There are no refunds. Type carefully.<br>
                    G-rated Version: <a href='http://dollardialup.com'>$DU</a><br>
                    </p>
                </div>
            </div>
        </div>
        <div class="footer-copyright center-align">
            <div class="container">
                Made by Max and Danny.
            </div>
        </div>
    </footer>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
</body>
</html>
